body {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: 'Times New Roman', Times, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

h2 {
  text-decoration: underline;
  text-transform: uppercase;
}

p {
  color: #838b8b;
}

p.second {
  text-align: end;
}

strong {
  color: black;
}
