.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

img {
  width: 400px;
  aspect-ratio: 16/9;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.2s;
}

button {
  outline: none;
  border: 0;
  background: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

.container img:hover {
  transform: scale(1.05);
}
